@font-face {
	font-family: YanoneKaffeesatz;
	src: url('/bitrix/fonts/yanone-kaffeesatz/YanoneKaffeesatz-Regular.otf');
	font-weight:400;
}

@font-face {
	font-family: Bebas;
	src: url('/bitrix/fonts/Bebas/BEBAS___.ttf');
	font-weight:400;
}

rect{
	fill: orange;
	fill-opacity: .80;
	stroke: black;
	stroke-opacity: 0.5;
	stroke-width: 3;
}

text{
	text-anchor: middle;
	font-family: YanoneKaffeesatz, Arial;
	font-size: 8px;
	font-weight: 700;
}

img {border:0 none;}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica,sans-serif; 
	margin:1.3em 0 1em;
	font-weight:normal;
	line-height:1.2;
}

h1 { font-size:200%; margin:0 0 1em; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4 { font-size:140%; }
h5 { font-size:120%; }
h6 { font-size:100%; }

hr, .hr 
{
	border-top:1px solid;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
}

#workarea ol li, #workarea ul li { margin: 0.6em 0; }
#workarea ul { list-style-type: disc; }